.combobox-list {
  box-sizing: border-box;
  border-left: solid 1px black;

  & .combobox {
    border-right: solid 1px black;

    &:first-of-type {
      border-top: solid 1px black;
    }

    &:last-of-type {
      border-bottom: solid 1px black;
    }
  }
}
