.combobox-body {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 36px;

  padding-left: 8px;
  padding-right: 8px;

  background-color: white;
  &:hover {
    background-color: rgb(185, 185, 185);
  }
}

.combobox-body-active {
  @extend .combobox-body;
  background-color: rgb(185, 185, 185);
}
